.container {
    text-align: justify;
    margin-left: 3%;
    background-image: url("../../assets/introducao/image.png");
    background-repeat: no-repeat;
    background-position-x: right;
}

.bot {
    display: flex;
    flex-direction: row;
}

.title {
    text-align: left;
    max-width: 50%;
}

.image-bot img {
    margin-left: 25%;
    border-radius: 5px;
    width: auto;
    height: 450px;
    box-shadow: 0 0 1em rgb(153, 153, 153);
}

@media(max-width: 600px){
    .container {
        position: relative;
        margin: 0;
        background-image: url("../../assets/introducao/image2-mobile.png");
    }
    .title {
        max-width: 100%;
    }
    .bot {
    }
    .image-bot  {
        align-items: center;
    }
    .image-bot img {
        width: auto;
        height: 315px;
        margin: 0;
    }
    
}