<div class="container">
    <div class="explicacao">
        <p>O Porquinho DinDin tem como missão ensinar ao público de <b>10 a 12 anos</b> sobre educação
            financeira!</p>
        <p>O DinDin é um chatbot com muita experiêcia no assunto e trás conteúdos sobre:</p>
        <ul>
            <li>O que é dinheiro?</li>
            <li>Como investir?</li>
            <li>O que é mesada?</li>
            <li>Como poupar?</li>
            <li>Como ganhar dinheiro?</li>
            <li>O que é inflação</li>
            <li>E muito mais!</li>
            <p>O DinDin está localizado ao lado inferior direito da tela te esperando para conversar.</p>
            <p> <img src="../../assets/home/play-round-button.svg" /> Clique na mensagem do DinDin para começar!</p>
        </ul>

    </div>

    <div class="imagem-dindin">
        <img src="../../assets/home/dindin1.jpeg" alt="Imagem do DinDin" />
    </div>

</div>