.container {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
}

.explicacao {
    max-width: 75%;
    margin-right: 7%;
}

.explicacao b {
    font-weight: bold;
    color: #1F8CF7;
}

.imagem-dindin img {
    border-radius: 3px;
    width: auto;
    height: 350px;
    padding-right: 50px;
}

.explicacao img {
    width: 17px;
    height: 17px;
    flex-wrap: wrap;
}

@media(max-width: 600px){ 
    .imagem-dindin img {
        width: auto;
        height: 200px;
        padding-right: 15px;
    }
    .explicacao {
        margin: 0;
        max-width: 100%;
    }
}