<div class="container">
    <div class="bot">
        <div class="title">
            <h1>
                DinDin, seu agente de educação financeira!
            </h1>
        </div>
        <div class="image-bot">
            <img src="https://storage.googleapis.com/image-video-tcc/Edited_20210604_002713.gif"
                alt="gif de apresentacao do chatbot" />
        </div>
    </div>

    <div class="explicacao">
        <p>Nosso agente conversacional tem como missão ensinar ao público de <b>10 a 12 anos</b> sobre educação
            financeira!</p>
        <p>O DinDin é um chatbot com muita experiêcia no assunto e trás conteúdos sobre:</p>
        <ul>
            <li>O que é dinheiro?</li>
            <li>Como investir?</li>
            <li>O que é mesada?</li>
            <li>Como poupar?</li>
            <li>Como ganhar dinheiro?</li>
            <li>O que é inflação</li>
            <li>E muito mais!</li>
        </ul>
    </div>

    <div>
        <p>O DinDin está localizado ao lado direito inferior da tela te esperando para conversar!</p>
    </div>

</div>

<div class="footer">
    <p>© Grupo 4 Universidade Anhembi Morumbi 2021</p>
</div>