h1 {
    color: #474747;
    font-family: "Poppins", Sans-serif;
    font-size: 61px;
    font-weight: 800;
    line-height: 1.2em;
}

p, ul, li, b {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

@media(max-width: 600px){
    h1 {
        font-size: 30px;
    }

    p, il, li, b {
        font-size: 10px;
    }

    html, body{
        overflow-x: hidden !important; 
    }
    
}