.container {
    margin-bottom: 8%;
}

.voce-sabia {
    margin-left: 5%;
    display: flex;
}

.voce-sabia img {
    width: 60px;
    height: auto;
    margin-right: 5px;
}

.texto {
    margin-left: 5%;
    max-width: 70%;
    text-align: justify;
}